@import "../../common-files/common.style";

.todo-creator-container{
        box-shadow: 2px 1px 14px 1px rgba(77,77,77,1);
        width: 20rem;
        height: 30rem;
        background-color: white;
        position: absolute;
        right: 5rem;
        top: 5vw;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        padding: 1rem;

        h4{
            text-align: center;
        }

        p{
            margin-top: 1rem;
        }

        input{
            height: 2rem;
            border: none;
            border-bottom:solid 1px grey;
            text-align: center;
        }

        .create-todo-button{
            @include button-style;
            margin: 2rem 1rem;
            border: solid 1px grey;
            padding: 0.5rem;

            &:hover{
                background-color: $main-grey;
                color: white;
            }
        }
    }