@import "../../common-files/common.style";

.category-container{
        background-color: white;
        width: 40rem;
        height: 7rem;
        border-radius: 1rem;
        padding: 2rem;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        z-index: 0;

        #category-menu{
            display: flex;
            justify-content: space-between;
        }

        .create-category-button{
            @include button-style;
            display: flex;
            align-items: center;

            .material-icons.add-icon{
                margin-left: 1rem;
            }
        }

        .material-icons.delete{
            cursor: pointer;
        }

        
}