@import "../../common-files/common.style";

.create-category-form{
    position: absolute;
    top: 3rem;
    background-color: white;
    width: 16rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    padding:1rem;
    z-index: 100;

    button{
        background-color: $main-yellow;
        color: white;
        border-radius: 1rem;
        margin-top: 1rem;
        border: none;
        height: 2rem;
    }

    input{
        border: none;
        border-bottom: solid 1px black;
    }
}